<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/reset.css" />
    <title>Категории</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h1 class="header__title">
          <a class="header__title-link" href="">Блог</a>
        </h1>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__list-item"><a href="">Добавить</a></li>
            <li class="nav__list-item"><a href="">Категории</a></li>
            <li class="nav__list-item"><a href="">Войти</a></li>
          </ul>
        </nav>
        <div class="line header__line"></div>
      </div>
    </header>

    <main class="main">
      <div class="container">
        <section class="categories">
          <div class="categories-block">
            <p class="categories-title">Список категорий</p>
            <ul class="categories-list">
              <li class="categories-name">Первая категория</li>
              <li class="categories-name">Вторая категория</li>
              <li class="categories-name">Третья категория</li>
            </ul>
          </div>
        </section>

        <section class="articles">
          <div class="category">
            <h2 class="articles__title">Первая категория</h2>
            <div class="article">
              <h2 class="article__title">Это заголовок моей статьи</h2>
              <p class="article__content">Это небольшое описание моей статьи</p>
              <p class="article__date">20.02.2023 19:41</p>
              <a href="#" class="article__link">Читать</a>
            </div>
            <div class="article">
              <h2 class="article__title">Это заголовок моей статьи</h2>
              <p class="article__content">Это небольшое описание моей статьи</p>
              <p class="article__date">20.02.2023 19:41</p>
              <a href="#" class="article__link">Читать</a>
            </div>
            <div class="article">
              <h2 class="article__title">Это заголовок моей статьи</h2>
              <p class="article__content">Это небольшое описание моей статьи</p>
              <p class="article__date">20.02.2023 19:41</p>
              <a href="#" class="article__link">Читать</a>
            </div>
          </div>

          <div class="category">
            <h2 class="articles__title">Вторая категория</h2>
            <div class="article">
              <h2 class="article__title">Это заголовок моей статьи</h2>
              <p class="article__content">Это небольшое описание моей статьи</p>
              <p class="article__date">20.02.2023 19:41</p>
              <a href="#" class="article__link">Читать</a>
            </div>
            <div class="article">
              <h2 class="article__title">Это заголовок моей статьи</h2>
              <p class="article__content">Это небольшое описание моей статьи</p>
              <p class="article__date">20.02.2023 19:41</p>
              <a href="#" class="article__link">Читать</a>
            </div>
            <div class="article">
              <h2 class="article__title">Это заголовок моей статьи</h2>
              <p class="article__content">Это небольшое описание моей статьи</p>
              <p class="article__date">20.02.2023 19:41</p>
              <a href="#" class="article__link">Читать</a>
            </div>
          </div>
        </section>
        <div class="line main__line"></div>
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <p class="footer__content">(c) 2023 Blog</p>
      </div>
    </footer>
  </body>
</html>
