<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/reset.css" />
    <title>Регистрация</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h1 class="header__title">
          <a class="header__title-link" href="">Блог</a>
        </h1>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__list-item"><a href="">Добавить</a></li>
            <li class="nav__list-item"><a href="">Категории</a></li>
            <li class="nav__list-item"><a href="">Войти</a></li>
          </ul>
        </nav>
        <div class="line header__line"></div>
      </div>
    </header>

    <main class="main">
      <div class="container">
        <section class="register">
          <h2 class="login__title">Регистрация</h2>
          <form action="" method="post" class="form add-article__form">
            <div class="input-block">
              <div class="input__label-block">
                <label for="title">Логин</label>
              </div>
              <input type="text" name="title" id="" class="form__input" />
            </div>

            <div class="input-block">
              <div class="input__label-block">
                <label for="title">Пароль</label>
              </div>
              <input type="password" name="title" id="" class="form__input" />
            </div>

            <div class="input-block">
              <button type="submit" class="input__button">Регистрация</button>
            </div>
          </form>
        </section>
        <div class="line main__line"></div>
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <p class="footer__content">(c) 2023 Blog</p>
      </div>
    </footer>
  </body>
</html>
